<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Adding Student Details here...</title>
</head>
<body>

	<!-- <marquee>Add student Details here....</marquee>
 -->
	<div align="center">
		<centre>
		<table border="5">
			<tr>
				<td>Student Name :</td>
				<td><input type="text" ng-model="newstudent"></input></td>
			</tr>

			<tr>
				<td>City :</td>
				<td><input type="text" ng-model="newcity"></input></td>
			</tr>
			<tr>
				<td colspan="2">
					<button ng-click="add()">Add</button>
				</td>
			</tr>
		</table>

		{{storemsg}} </centre>

		<a href="#/home">Back</a>
	</div>
</body>
</html>